@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap'); 


.main_div{
    min-height: 100vh;
    background-color: pink;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.child_div{
    min-height: 80vh;
    width: 80vw     !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    color: black;
   padding: 10px;
   margin-top: 10px;
    border-style: groove;
    border-radius: 20px;
}
.font{
    font-family: Times, "Times New Roman", Georgia, serif;
}

.input{
    text-decoration: none;
}
.row label{
    font-family: Gill Sans Extrabold, sans-serif;
}